[submodule "roles/ansible"]
	path = roles/ansible
	url = https://github.com/alvistack/ansible-role-ansible.git
	branch = develop
[submodule "roles/bootstrap"]
	path = roles/bootstrap
	url = https://github.com/alvistack/ansible-role-bootstrap.git
	branch = develop
[submodule "roles/ceph-common"]
	path = roles/ceph-common
	url = https://github.com/alvistack/ansible-role-ceph-common.git
	branch = develop
[submodule "roles/ceph-mds"]
	path = roles/ceph-mds
	url = https://github.com/alvistack/ansible-role-ceph-mds.git
	branch = develop
[submodule "roles/ceph-mgr"]
	path = roles/ceph-mgr
	url = https://github.com/alvistack/ansible-role-ceph-mgr.git
	branch = develop
[submodule "roles/ceph-mon"]
	path = roles/ceph-mon
	url = https://github.com/alvistack/ansible-role-ceph-mon.git
	branch = develop
[submodule "roles/ceph-osd"]
	path = roles/ceph-osd
	url = https://github.com/alvistack/ansible-role-ceph-osd.git
	branch = develop
[submodule "roles/ceph-rgw"]
	path = roles/ceph-rgw
	url = https://github.com/alvistack/ansible-role-ceph-rgw.git
	branch = develop
[submodule "roles/chrony"]
	path = roles/chrony
	url = https://github.com/alvistack/ansible-role-chrony.git
	branch = develop
[submodule "roles/cri-tools"]
	path = roles/cri-tools
	url = https://github.com/alvistack/ansible-role-cri-tools.git
	branch = develop
[submodule "roles/docker"]
	path = roles/docker
	url = https://github.com/alvistack/ansible-role-docker.git
	branch = develop
[submodule "roles/etcd"]
	path = roles/etcd
	url = https://github.com/alvistack/ansible-role-etcd.git
	branch = develop
[submodule "roles/git"]
	path = roles/git
	url = https://github.com/alvistack/ansible-role-git.git
	branch = develop
[submodule "roles/kernel"]
	path = roles/kernel
	url = https://github.com/alvistack/ansible-role-kernel.git
	branch = develop
[submodule "roles/kubeadm"]
	path = roles/kubeadm
	url = https://github.com/alvistack/ansible-role-kubeadm.git
	branch = develop
[submodule "roles/kubectl"]
	path = roles/kubectl
	url = https://github.com/alvistack/ansible-role-kubectl.git
	branch = develop
[submodule "roles/kubelet"]
	path = roles/kubelet
	url = https://github.com/alvistack/ansible-role-kubelet.git
	branch = develop
[submodule "roles/kubernetes-addon-manager"]
	path = roles/kubernetes-addon-manager
	url = https://github.com/alvistack/ansible-role-kubernetes-addon-manager.git
	branch = develop
[submodule "roles/kubernetes-cert-manager"]
	path = roles/kubernetes-cert-manager
	url = https://github.com/alvistack/ansible-role-kubernetes-cert-manager.git
	branch = develop
[submodule "roles/kubernetes-cni"]
	path = roles/kubernetes-cni
	url = https://github.com/alvistack/ansible-role-kubernetes-cni.git
	branch = develop
[submodule "roles/kubernetes-csi-cephfs"]
	path = roles/kubernetes-csi-cephfs
	url = https://github.com/alvistack/ansible-role-kubernetes-csi-cephfs.git
	branch = develop
[submodule "roles/kubernetes-csi-hostpath"]
	path = roles/kubernetes-csi-hostpath
	url = https://github.com/alvistack/ansible-role-kubernetes-csi-hostpath.git
	branch = develop
[submodule "roles/kubernetes-csi-rbd"]
	path = roles/kubernetes-csi-rbd
	url = https://github.com/alvistack/ansible-role-kubernetes-csi-rbd.git
	branch = develop
[submodule "roles/kubernetes-dashboard"]
	path = roles/kubernetes-dashboard
	url = https://github.com/alvistack/ansible-role-kubernetes-dashboard.git
	branch = develop
[submodule "roles/kubernetes-flannel"]
	path = roles/kubernetes-flannel
	url = https://github.com/alvistack/ansible-role-kubernetes-flannel.git
	branch = develop
[submodule "roles/kubernetes-ingress-nginx"]
	path = roles/kubernetes-ingress-nginx
	url = https://github.com/alvistack/ansible-role-kubernetes-ingress-nginx.git
	branch = develop
[submodule "roles/kubernetes-metallb"]
	path = roles/kubernetes-metallb
	url = https://github.com/alvistack/ansible-role-kubernetes-metallb.git
	branch = develop
[submodule "roles/kubernetes-registry"]
	path = roles/kubernetes-registry
	url = https://github.com/alvistack/ansible-role-kubernetes-registry.git
	branch = develop
[submodule "roles/kubernetes-weave"]
	path = roles/kubernetes-weave
	url = https://github.com/alvistack/ansible-role-kubernetes-weave.git
	branch = develop
[submodule "roles/locales"]
	path = roles/locales
	url = https://github.com/alvistack/ansible-role-locales.git
	branch = develop
[submodule "roles/operator-sdk"]
	path = roles/operator-sdk
	url = https://github.com/alvistack/ansible-role-operator-sdk.git
	branch = develop
[submodule "roles/python"]
	path = roles/python
	url = https://github.com/alvistack/ansible-role-python.git
	branch = develop
[submodule "roles/rclone"]
	path = roles/rclone
	url = https://github.com/alvistack/ansible-role-rclone.git
	branch = develop
[submodule "roles/restic"]
	path = roles/restic
	url = https://github.com/alvistack/ansible-role-restic.git
	branch = develop
[submodule "roles/sshd"]
	path = roles/sshd
	url = https://github.com/alvistack/ansible-role-sshd.git
	branch = develop
[submodule "roles/timezone"]
	path = roles/timezone
	url = https://github.com/alvistack/ansible-role-timezone.git
	branch = develop
