[submodule "playbooks/kubespray"]
    path = playbooks/kubespray
    url = https://github.com/kubernetes-sigs/kubespray.git
    branch = master
[submodule "playbooks/ceph-ansible"]
    path = playbooks/ceph-ansible
    url = https://github.com/ceph/ceph-ansible.git
    branch = stable-3.2
[submodule "playbooks/roles/python"]
    path = playbooks/roles/python
    url = https://github.com/alvistack/ansible-role-python.git
    branch = develop
[submodule "playbooks/roles/apt"]
    path = playbooks/roles/apt
    url = https://github.com/alvistack/ansible-role-apt.git
    branch = develop
[submodule "playbooks/roles/ansible"]
    path = playbooks/roles/ansible
    url = https://github.com/alvistack/ansible-role-ansible.git
    branch = develop
[submodule "playbooks/roles/docker"]
    path = playbooks/roles/docker
    url = https://github.com/alvistack/ansible-role-docker.git
    branch = develop
[submodule "playbooks/roles/git"]
    path = playbooks/roles/git
    url = https://github.com/alvistack/ansible-role-git.git
    branch = develop
[submodule "playbooks/roles/kernel"]
    path = playbooks/roles/kernel
    url = https://github.com/alvistack/ansible-role-kernel.git
    branch = develop
[submodule "playbooks/roles/locales"]
    path = playbooks/roles/locales
    url = https://github.com/alvistack/ansible-role-locales.git
    branch = develop
[submodule "playbooks/roles/ntp"]
    path = playbooks/roles/ntp
    url = https://github.com/alvistack/ansible-role-ntp.git
    branch = develop
[submodule "playbooks/roles/sshd"]
    path = playbooks/roles/sshd
    url = https://github.com/alvistack/ansible-role-sshd.git
    branch = develop
[submodule "playbooks/roles/timezone"]
    path = playbooks/roles/timezone
    url = https://github.com/alvistack/ansible-role-timezone.git
    branch = develop
[submodule "playbooks/roles/yum"]
    path = playbooks/roles/yum
    url = https://github.com/alvistack/ansible-role-yum.git
    branch = develop
