---

dist: bionic

language: minimal

env:
  matrix:
    - MOLECULE_SCENARIO_NAME="centos-7"
    - MOLECULE_SCENARIO_NAME="suse-15"
    - MOLECULE_SCENARIO_NAME="ubuntu-16.04"
    - MOLECULE_SCENARIO_NAME="ubuntu-18.04"

matrix:
  allow_failures:
    - env: MOLECULE_SCENARIO_NAME="centos-7"
    - env: MOLECULE_SCENARIO_NAME="suse-15"

before_install:
  - |
    sudo apt-get -y purge lxc-* lxd-* && sudo apt-get -y autoremove
    sudo apt-get update && sudo apt-get install -y snapd
    sudo snap refresh && sudo snap install lxd
    sudo lxd init --preseed < .travis.lxd.yml

  - |
    sudo apt-get -y purge python3-openssl && sudo apt-get -y autoremove
    sudo apt-get update && sudo apt-get install -y ca-certificates curl gcc iproute2 python3 python3-dev sudo
    curl -skL https://bootstrap.pypa.io/get-pip.py | sudo -H python3
    sudo -H pip3 install --upgrade --ignore-installed --requirement requirements.txt

install:
  - |
    git submodule init
    git submodule sync
    git submodule update

script:
  - |
    source ./scripts/run-tests.sh \
      && sudo -E molecule dependency -s $MOLECULE_SCENARIO_NAME \
      && sudo -E molecule lint -s $MOLECULE_SCENARIO_NAME \
      && sudo -E molecule syntax -s $MOLECULE_SCENARIO_NAME \
      && sudo -E molecule converge -s $MOLECULE_SCENARIO_NAME \
      && sudo -E molecule verify -s $MOLECULE_SCENARIO_NAME
