# {{ ansible_managed }}

[Unit]
Description=/usr/bin/umount -lfa -t ceph
Wants=crio.service
Before=crio.service
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStop=/usr/bin/umount -lfa -t ceph

[Install]
WantedBy=multi-user.target
